/*.gold-mined {
  color: red;
}/*


/*
* {
  outline: none;
}
*/

body {
  background-image: url('static/images/free_use_blue_ocean.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/*
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
*/

  /* Position the tooltip */
/*
  position: absolute;
  z-index: 1;
}
*/
/*
.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/

.wrapped_element .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.wrapped_element:hover .tooltip_text {
  visibility: visible;
}

.wrapped_element:hover .tooltip_text:empty {
  visibility: hidden;
}

.activity_pane {
  position: relative;
  padding: 10px;
  padding-left: 10px;
  border: 1px solid black;
  height: 20px;
  width: 80px;
} 

.activity_pane [class$="population_pane"] {
  display: none
}

.activity_pane_expanded {
  padding: 100px;
}

.activity_pane_expanded [class$="population_pane"] {
  display: inline-block;
}

.activity_pane_title_text {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.activity_pane_title_text_expanded {
  position: absolute;
  text-align: left;
  vertical-align: baseline;
  top: 0;
  left: 0;
}

.expand_span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.clickable_text {
  text-decoration: underline;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#event_log {
  height: 40%;
  width: 20%;
  border: 1px solid black;
  overflow: auto;
  padding 5px;
  position: absolute;
  right: 3%;
  top: 5%;
}

.event_message {
  padding: 5px;
}

.populant_pane {
  position: relative;
  padding: 10px;
  padding-left: 10px;
  border: 1px solid black;
  height: 20px;
  width: 80px;
}

.populant_pane_expanded {
  /*padding: 100px;*/
  height: 60px;
  width: 180px;
}

.activity_progress_bar {
  position: relative;
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

.activity_progress_bar_fill {
  position: relative;
  height: 100%;
  background-color: grey;
}
